<% content_for :content_header do %>
	<h2>Articles</h2>
	<% if role_present?( "author" ) %>
		<%= link_to 'Add Article', new_article_path %>
	<% end %>	
<% end %>

<section id="articles">
	<% @articles.each do |article| %>
		<%= render article %>
	<% end %>
</section>

<br/>
